.mat-card-avatar {
  width: 86px;
  height: 86px;
  margin-bottom: 20px;
}

.flag {
  font-size: 4rem;
  vertical-align: middle;
}

.mat-line.pre-wrap {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.gif-image-parent {
  position: relative;
}

.attribution-mark {
  position: absolute;
  right: -15px;
  bottom: 0px;
}

a {
  color: rgb(101, 124, 255);
}

.hourly-container,
.daily-container {
  width: auto;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.hourly {
  min-width: 180px;
}

.daily {
  min-width: 140px;
}

.mat-list.hourly-list .mat-list-item {
  height: 34px; /* default is 72px */
}

.mat-list.hourly-list .mat-list-item.double-height {
  height: 58px; /* default is 72px */
}

.mat-list.daily-list .mat-list-item {
  height: 34px; /* default is 72px */
}

:host
  ::ng-deep
  .mat-list-base.less-padding
  .mat-list-item
  .mat-list-item-content {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

:host
  ::ng-deep
  .mat-list-base.less-padding
  .mat-list-item
  .mat-list-item-content
  .mat-list-text {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

:host ::ng-deep .mat-card-header.less-margin .mat-card-header-text {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.weather-avatar {
  width: 86px;
  height: 86px;
  border-radius: 50%;
}

figure {
  margin: auto;
}

figcaption {
  font-size: 12px;
  text-align: center;
}

.small-text {
  font-size: 11px;
}

.current-data-text {
  font-size: 18px;
  font-weight: bold;
}

.temperature-text {
  font-size: 22px;
  font-weight: bold;
}

.gust-text {
  font-size: 14px;
  text-align: center;
}
