<mat-card *ngFor="let weather of weatherList">
  <mat-card-header>
    <div
      mat-card-avatar
      [style.backgroundSize]="'cover'"
      [style.backgroundColor]="
        getTimeOfDayColor(
          weather.sunrise,
          weather.sunset,
          weather.timezone_offset
        )
      "
      [style.backgroundImage]="
        weather.icon
          ? 'url(https://openweathermap.org/img/wn/' +
            weather?.icon +
            '@4x.png)'
          : 'url(assets/Exclamation_Circle_Red.svg)'
      "
    ></div>
    <mat-card-title-group *ngIf="weather.cityName; else elseBlock">
      <mat-card-title>
        <div
          fxLayout="row"
          fxLayout.lt-sm="column"
          fxLayoutGap="15px"
          fxLayoutGap.lt-sm="20px"
        >
          <span fxFlexOrder="1" fxFlexOrder.lt-sm="2">
            {{ weather?.cityName
            }}{{
              weather.country ? ", " + getCountryName(weather.country) : ""
            }}
          </span>
          <span class="flag" fxFlexOrder="2" fxFlexOrder.lt-sm="1">
            {{ weather.country ? getFlagEmoji(weather.country) : "" }}
          </span>
        </div>
      </mat-card-title>
      <mat-card-subtitle *ngIf="weather?.stateName">
        <small>
          <em>{{ weather?.stateName }}</em>
        </small>
      </mat-card-subtitle>
      <mat-card-subtitle>
        {{ weather?.main }}, {{ weather?.description }}
      </mat-card-subtitle>
      <mat-card-subtitle
        *ngIf="weather.sunrise && weather.sunset && weather.next_sunrises"
      >
        <app-remaining-sun-time
          [sunrise]="weather.sunrise"
          [sunset]="weather.sunset"
          [next_sunrises]="weather.next_sunrises"
        ></app-remaining-sun-time>
      </mat-card-subtitle>
    </mat-card-title-group>
    <ng-template #elseBlock>
      <mat-card-title-group>
        <mat-card-title> Error Retrieving Weather </mat-card-title>
        <mat-card-subtitle>
          Weather for city "{{ city }}" is not available
        </mat-card-subtitle>
      </mat-card-title-group>
    </ng-template>
  </mat-card-header>
  <div class="gif-image-parent">
    <img mat-card-image [src]="weather?.gif_url" [alt]="weather?.gif_title" />
    <img
      class="attribution-mark"
      src="assets/Poweredby_100px-White_VertLogo.png"
      alt="Powered by Giphy"
    />
  </div>
  <div
    style="height: 300px"
    leaflet
    [leafletOptions]="mapOptions"
    [leafletLayers]="mapLayers"
  ></div>
  <mat-card-content>
    <mat-list *ngIf="weather.temperature">
      <div mat-subheader>Temperatures</div>
      <div fxLayout="row wrap">
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>thermostat</mat-icon>
          <div mat-line>Temperature</div>
          <div mat-line>
            <span class="current-data-text">
              {{ weather?.temperature | number: "1.2-2" }} &#176;C
            </span>
          </div>
        </mat-list-item>
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>thermostat</mat-icon>
          <div mat-line>Feels Like</div>
          <div mat-line>
            <span class="current-data-text">
              {{ weather?.feels_like | number: "1.2-2" }} &#176;C
            </span>
          </div>
        </mat-list-item>
      </div>
      <div fxLayout="row wrap">
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>thermostat</mat-icon>
          <div mat-line>Low</div>
          <div mat-line>
            <span class="current-data-text">
              {{ weather?.temp_min | number: "1.2-2" }} &#176;C
            </span>
          </div>
        </mat-list-item>
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>thermostat</mat-icon>
          <div mat-line>High</div>
          <div mat-line>
            <span class="current-data-text">
              {{ weather?.temp_max | number: "1.2-2" }} &#176;C
            </span>
          </div>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <div mat-subheader>Hygrometry</div>
      <div fxLayout="row wrap">
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>water_drop</mat-icon>
          <div mat-line>Humidity</div>
          <div mat-line>
            <span class="current-data-text"> {{ weather?.humidity }}% RH </span>
          </div>
        </mat-list-item>
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>speed</mat-icon>
          <div mat-line>Pressure</div>
          <div mat-line>
            <span class="current-data-text"> {{ weather?.pressure }} hPa </span>
          </div>
        </mat-list-item>
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>grain</mat-icon>
          <div mat-line>Dew Point</div>
          <div mat-line>
            <span class="current-data-text">
              {{ weather?.dew_point | number: "1.2-2" }} &#176;C
            </span>
          </div>
        </mat-list-item>
        <mat-list-item fxFlex *ngIf="weather?.rain">
          <mat-icon mat-list-icon>cloudy_snowing</mat-icon>
          <div mat-line>Rain</div>
          <div mat-line>
            <span class="current-data-text">
              {{ weather?.rain | number: "1.0-1" }} mm/h
            </span>
          </div>
        </mat-list-item>
        <mat-list-item fxFlex *ngIf="weather?.snow">
          <mat-icon mat-list-icon>ac_unit</mat-icon>
          <div mat-line>Snow</div>
          <div mat-line>
            <span class="current-data-text">
              {{ weather?.snow | number: "1.0-1" }} mm/h
            </span>
          </div>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <div mat-subheader>Wind</div>
      <div fxLayout="row wrap">
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>air</mat-icon>
          <div mat-line>Speed</div>
          <div mat-line>
            <span class="current-data-text">
              {{
                (weather.wind_speed ? weather.wind_speed * 3.6 : 0)
                  | number: "1.2-2"
              }}
              km/h
            </span>
          </div>
          <div mat-line *ngIf="weather.wind_gust">
            <em>
              {{
                "Gust: " + (weather.wind_gust * 3.6 | number: "1.2-2") + " km/h"
              }}
            </em>
          </div>
        </mat-list-item>
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>explore</mat-icon>
          <div mat-line>Direction</div>
          <div mat-line>
            <span class="current-data-text">
              <mat-icon
                [style]="
                  'transform: rotate(' +
                  weather?.wind_dir +
                  'deg); vertical-align: text-top'
                "
                >south</mat-icon
              >
              {{ weather?.wind_dir }} &deg; &nbsp;
              {{ degreeToDirection(weather?.wind_dir || 0) }}
            </span>
          </div>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <div mat-subheader>Sun</div>
      <div fxLayout="row wrap">
        <mat-list-item fxFlex fxFlex.lt-sm="100">
          <mat-icon mat-list-icon>new_releases</mat-icon>
          <div mat-line>UV Index</div>
          <div mat-line>
            <span class="current-data-text">
              {{ weather?.uvi }} &nbsp;
              <span [style]="uvIndexLabelStyle(weather?.uvi || 0)">
                {{ uvIndexLabel(weather?.uvi || 0) }}
              </span>
            </span>
          </div>
        </mat-list-item>
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>light_mode</mat-icon>
          <div mat-line>Sunrise</div>
          <div mat-line>
            <span class="current-data-text">
              {{
                (weather.sunrise ? weather.sunrise * 1000 : 0)
                  | date: "mediumTime"
              }}
            </span>
          </div>
        </mat-list-item>
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>bedtime</mat-icon>
          <div mat-line>Sunset</div>
          <div mat-line>
            <span class="current-data-text">
              {{
                (weather.sunset ? weather.sunset * 1000 : 0)
                  | date: "mediumTime"
              }}
            </span>
          </div>
        </mat-list-item>
      </div>
      <div *ngIf="weather.minutely">
        <mat-divider></mat-divider>
        <div mat-subheader>Minutely Forecast (Next 1 hr)</div>
        <div
          fxLayout="row"
          class="minutely-container"
          *ngIf="hasPrecipitation(weather.minutely); else noPrecipitationBlock"
        >
          <mat-card *ngFor="let minutely of weather.minutely" class="minutely">
            <!-- {{ minutely | json }} -->
            <mat-card-header class="less-margin">
              <mat-list class="minutely-list less-padding">
                <mat-list-item>
                  <mat-icon mat-list-icon matTooltip="Precipitation">{{
                    weather?.snow ? "ac_unit" : "cloudy_snowing"
                  }}</mat-icon>
                  <div mat-line>
                    {{ minutely.precipitation | number: "1.0-1" }} mm
                  </div>
                </mat-list-item>
                <mat-list-item class="double-height">
                  <mat-icon mat-list-icon>schedule</mat-icon>
                  <div mat-line>
                    {{ minutely.dt * 1000 | date: "h:mm a" }}
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-card-header>
          </mat-card>
        </div>
        <ng-template #noPrecipitationBlock>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>{{
                isDayTime(
                  weather.daily[0].sunrise,
                  weather.daily[0].sunset,
                  weather.timezone_offset,
                  weather.hourly[0].dt
                )
                  ? "sunny"
                  : "nights_stay"
              }}</mat-icon>
              <div mat-line class="no-precipitation-text">
                No precipitation for the next 1 hour
              </div>
            </mat-list-item>
          </mat-list>
        </ng-template>
      </div>
      <div *ngIf="weather.hourly">
        <mat-divider></mat-divider>
        <div mat-subheader>Hourly Forecast (Next 48 hrs)</div>
        <div fxLayout="row" class="hourly-container">
          <mat-card *ngFor="let hourly of weather.hourly" class="hourly">
            <!-- {{ hourly | json }} -->
            <mat-card-header class="less-margin">
              <mat-list class="hourly-list less-padding">
                <mat-list-item style="height: 140px">
                  <figure>
                    <img
                      class="weather-avatar"
                      [style.backgroundColor]="
                        getTimeOfDayColor(
                          weather.daily[0].sunrise,
                          weather.daily[0].sunset,
                          weather.timezone_offset,
                          hourly.dt
                        )
                      "
                      [src]="
                        hourly.weather[0].icon
                          ? 'https://openweathermap.org/img/wn/' +
                            hourly.weather[0]?.icon +
                            '@4x.png'
                          : 'assets/Exclamation_Circle_Red.svg'
                      "
                      [alt]="hourly.weather[0].description"
                    />
                    <figcaption>
                      {{ hourly.weather[0].description | titlecase }}
                    </figcaption>
                  </figure>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon matTooltip="Temperature"
                    >thermostat</mat-icon
                  >
                  <div mat-line>
                    <span class="temperature-text">
                      {{ hourly.temp | number: "1.0-1" }} &#176;C
                    </span>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon
                    mat-list-icon
                    matTooltip="Probability of Precipitation"
                    >umbrella</mat-icon
                  >
                  <div mat-line>{{ hourly.pop | percent }} pptn.</div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon mat-list-icon matTooltip="Relative Humidity"
                    >water_drop</mat-icon
                  >
                  <div mat-line>{{ weather?.humidity }}% RH</div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon
                    mat-list-icon
                    matTooltip="Atmospheric pressure on the sea level"
                    >speed</mat-icon
                  >
                  <div mat-line>{{ hourly?.pressure }} hPa</div>
                </mat-list-item>
                <mat-list-item class="double-height">
                  <mat-icon mat-list-icon matTooltip="Wind Speed">air</mat-icon>
                  <div mat-line>
                    {{
                      (hourly.wind_speed ? hourly.wind_speed * 3.6 : 0)
                        | number: "1.0-1"
                    }}
                    km/h
                    <span *ngIf="hourly.wind_gust" class="gust-text">
                      <br />
                      <em
                        >{{
                          "Gust: " +
                            (hourly.wind_gust * 3.6 | number: "1.0-1") +
                            " km/h"
                        }}
                      </em>
                    </span>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon mat-list-icon matTooltip="Wind Direction"
                    >explore</mat-icon
                  >
                  <div mat-line>
                    <mat-icon
                      [style]="
                        'transform: rotate(' +
                        hourly?.wind_deg +
                        'deg); vertical-align: text-top'
                      "
                      >south</mat-icon
                    >
                    <!-- {{ hourly?.wind_deg }} &deg; &nbsp; -->
                    {{ degreeToDirection(hourly?.wind_deg || 0) }}
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon mat-list-icon matTooltip="UV Index"
                    >new_releases</mat-icon
                  >
                  <div mat-line>
                    {{ hourly?.uvi | number: "1.1-1" }} &nbsp;
                    <span [style]="uvIndexLabelStyle(hourly?.uvi || 0)">
                      {{ uvIndexLabel(hourly?.uvi || 0) }}
                    </span>
                  </div>
                </mat-list-item>
                <mat-list-item class="double-height">
                  <mat-icon mat-list-icon>schedule</mat-icon>
                  <div mat-line>
                    {{ hourly.dt * 1000 | date: "h a" }}
                  </div>
                  <div mat-line>
                    <span class="small-text">
                      {{ hourly.dt * 1000 | date: "MMM dd" }}
                    </span>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      <div *ngIf="weather.daily">
        <mat-divider></mat-divider>
        <div mat-subheader>Daily Forecast (Next 7 days)</div>
        <div fxLayout="row" class="daily-container">
          <mat-card *ngFor="let daily of weather.daily" class="daily">
            <!-- {{ hourly | json }} -->
            <mat-card-header class="less-margin">
              <mat-list class="daily-list less-padding">
                <mat-list-item style="height: 140px">
                  <figure>
                    <img
                      class="weather-avatar"
                      [style.backgroundColor]="'burlywood'"
                      [src]="
                        daily.weather[0].icon
                          ? 'https://openweathermap.org/img/wn/' +
                            daily.weather[0]?.icon +
                            '@4x.png'
                          : 'assets/Exclamation_Circle_Red.svg'
                      "
                      [alt]="daily.weather[0].description"
                    />
                    <figcaption>
                      {{ daily.weather[0].description | titlecase }}
                    </figcaption>
                  </figure>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon matTooltip="Day Temperature"
                    >wb_sunny</mat-icon
                  >
                  <div mat-line>
                    <span class="temperature-text">
                      {{ daily.temp.day | number: "1.1-1" }} &#176;C
                    </span>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon mat-list-icon matTooltip="Night Temperature"
                    >nights_stay</mat-icon
                  >
                  <div mat-line>
                    <span class="temperature-text">
                      {{ daily.temp.night | number: "1.1-1" }} &#176;C
                    </span>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon
                    mat-list-icon
                    matTooltip="Probability of Precipitation"
                    >umbrella</mat-icon
                  >
                  <div mat-line>{{ daily.pop | percent }} pptn.</div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon mat-list-icon matTooltip="Relative Humidity"
                    >water_drop</mat-icon
                  >
                  <div mat-line>{{ weather?.humidity }}% RH</div>
                </mat-list-item>
                <!-- <mat-list-item>
                <mat-icon mat-list-icon>speed</mat-icon>
                {{ daily?.pressure }} hPa
              </mat-list-item>

              <mat-list-item>
                <mat-icon mat-list-icon>new_releases</mat-icon>
                {{ daily?.uvi | number: "1.0-1" }} &nbsp;
                <span [style]="uvIndexLabelStyle(daily?.uvi || 0)">
                  {{ uvIndexLabel(daily?.uvi || 0) }}
                </span>
              </mat-list-item> -->
                <mat-list-item>
                  <mat-icon mat-list-icon>today</mat-icon>
                  <div mat-line>
                    {{ daily.dt * 1000 | date: "MMM d" }}
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      <div *ngIf="weather?.alerts">
        <mat-divider></mat-divider>
        <div mat-subheader>Alerts</div>
        <mat-list-item>
          <mat-icon mat-list-icon>crisis_alert</mat-icon>
          <mat-list>
            <mat-list-item *ngFor="let a of weather.alerts; last as last">
              <div mat-line>
                <mat-icon color="warn">priority_high</mat-icon>
              </div>
              <div mat-line class="pre-wrap">
                <strong>Event: &nbsp;</strong> {{ a?.event | titlecase }}
              </div>

              <div mat-line class="pre-wrap">
                <strong>Agency: &nbsp;</strong> {{ a?.sender_name }}
              </div>
              <div mat-line class="pre-wrap">
                <strong>Duration: &nbsp;</strong>
                <br />{{
                  (a.start ? a.start * 1000 : 0) | date: "MMM d, y, h:mm a"
                }}
                &mdash;
                {{ (a.end ? a.end * 1000 : 0) | date: "MMM d, y, h:mm a z" }}
              </div>
              <div mat-line>
                <br />
                <strong>Description:</strong>
              </div>
              <div mat-line class="pre-wrap">{{ a?.description }}</div>
              <br />
              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="weather?.cached">
        <mat-icon mat-list-icon>cached</mat-icon>
        <div mat-line>Cached</div>
        <div mat-line>{{ getCacheAge(weather?.timestamp || 0) }}</div>
      </mat-list-item>
    </mat-list>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="goBack()">Back</button>
    </mat-card-actions>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> API Result </mat-panel-title>
          <mat-panel-description>
            Data returned from server
          </mat-panel-description>
        </mat-expansion-panel-header>
        <pre>{{ weather | json }}</pre>
      </mat-expansion-panel>
    </mat-accordion>
    <a href="https://www.flaticon.com/free-icons/weather" title="weather icons"
      >Weather icons created by GOWI - Flaticon</a
    >
  </mat-card-content>
</mat-card>
