<mat-card *ngFor="let weather of weatherList">
  <mat-card-header>
    <div
      mat-card-avatar
      [style.backgroundSize]="'cover'"
      [style.backgroundImage]="
        weather.icon
          ? 'url(https://openweathermap.org/img/wn/' +
            weather?.icon +
            '@4x.png)'
          : 'url(https://upload.wikimedia.org/wikipedia/commons/c/c6/Exclamation_Circle_Red.svg)'
      "
    ></div>
    <mat-card-title-group *ngIf="weather.cityName; else elseBlock">
      <mat-card-title>
        <div
          fxLayout="row"
          fxLayout.lt-sm="column"
          fxLayoutGap="15px"
          fxLayoutGap.lt-sm="20px"
        >
          <span fxFlexOrder="1" fxFlexOrder.lt-sm="2">
            {{ weather?.cityName }},
            {{ weather ? getCountryName(weather?.country || "") : "" }}
          </span>
          <span class="flag" fxFlexOrder="2" fxFlexOrder.lt-sm="1">
            {{ weather ? getFlagEmoji(weather?.country || "") : "" }}
          </span>
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        {{ weather?.main }}, {{ weather?.description }}
      </mat-card-subtitle>
    </mat-card-title-group>
    <ng-template #elseBlock>
      <mat-card-title-group>
        <mat-card-title> Error Retrieving Weather </mat-card-title>
        <mat-card-subtitle>
          Weather for city "{{ city }}" is not available
        </mat-card-subtitle>
      </mat-card-title-group>
    </ng-template>
  </mat-card-header>
  <img mat-card-image [src]="weather?.gif_url" [alt]="weather?.gif_title" />
  <mat-card-content>
    <mat-list *ngIf="weather.temperature">
      <div mat-subheader>Temperatures</div>
      <div fxLayout="row wrap">
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>thermostat</mat-icon>
          <div mat-line>Temperature</div>
          <div mat-line>
            {{ weather?.temperature | number: "1.2-2" }} &#176;C
          </div>
        </mat-list-item>
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>thermostat</mat-icon>
          <div mat-line>Feels Like</div>
          <div mat-line>
            {{ weather?.feels_like | number: "1.2-2" }} &#176;C
          </div>
        </mat-list-item>
      </div>
      <div fxLayout="row wrap">
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>thermostat</mat-icon>
          <div mat-line>Low</div>
          <div mat-line>{{ weather?.temp_min | number: "1.2-2" }} &#176;C</div>
        </mat-list-item>
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>thermostat</mat-icon>
          <div mat-line>High</div>
          <div mat-line>{{ weather?.temp_max | number: "1.2-2" }} &#176;C</div>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <div mat-subheader>Humidity</div>
      <mat-list-item>
        <mat-icon mat-list-icon>water_drop</mat-icon>
        <div mat-line>Humidity</div>
        <div mat-line>{{ weather?.humidity }} %</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Wind</div>
      <div fxLayout="row wrap">
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>air</mat-icon>
          <div mat-line>Speed</div>
          <div mat-line>{{ weather?.wind_speed }} m/s</div>
          <div mat-line *ngIf="weather.wind_gust">
            <em>{{ "Gust: " + weather.wind_gust + " m/s" }}</em>
          </div>
        </mat-list-item>
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>explore</mat-icon>
          <div mat-line>Direction</div>
          <div mat-line>
            <mat-icon
              [style]="
                'transform: rotate(' +
                weather?.wind_dir +
                'deg); vertical-align: text-top'
              "
              >south</mat-icon
            >
            {{ weather?.wind_dir }} &deg; &nbsp;
            {{ degreeToDirection(weather?.wind_dir || 0) }}
          </div>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <div mat-subheader>Pressure</div>
      <mat-list-item>
        <mat-icon mat-list-icon>speed</mat-icon>
        <div mat-line>Pressure</div>
        <div mat-line>{{ weather?.pressure }} hPa</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Sun</div>
      <div fxLayout="row wrap">
        <mat-list-item fxFlex fxFlex.lt-sm="100">
          <mat-icon mat-list-icon>new_releases</mat-icon>
          <div mat-line>UV Index</div>
          <div mat-line>
            {{ weather?.uvi }} &nbsp;
            <span [style]="uvIndexLabelStyle(weather?.uvi || 0)">
              {{ uvIndexLabel(weather?.uvi || 0) }}
            </span>
          </div>
        </mat-list-item>
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>light_mode</mat-icon>
          <div mat-line>Sunrise</div>
          <div mat-line>
            {{
              (weather.sunrise ? weather.sunrise * 1000 : 0)
                | date: "mediumTime"
            }}
          </div>
        </mat-list-item>
        <mat-list-item fxFlex>
          <mat-icon mat-list-icon>bedtime</mat-icon>
          <div mat-line>Sunset</div>
          <div mat-line>
            {{
              (weather.sunset ? weather.sunset * 1000 : 0) | date: "mediumTime"
            }}
          </div>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <div *ngIf="weather?.alerts">
        <div mat-subheader>Alerts</div>
        <mat-list-item>
          <mat-icon mat-list-icon>crisis_alert</mat-icon>
          <mat-list>
            <mat-list-item *ngFor="let a of weather.alerts; last as last">
              <mat-icon mat-list-icon color="warn">priority_high</mat-icon>
              <div mat-line><strong>Event: &nbsp;</strong> {{ a?.event }}</div>
              <div mat-line>
                <strong>Agency: &nbsp;</strong> {{ a?.sender_name }}
              </div>
              <div mat-line>
                <strong>Duration: &nbsp;</strong>
                {{ (a.start ? a.start * 1000 : 0) | date: "medium" }} -
                {{ (a.end ? a.end * 1000 : 0) | date: "medium" }}
              </div>
              <br />
              <div mat-line>
                <strong>Description:</strong>
              </div>
              <div mat-line class="pre-wrap">{{ a?.description }}</div>
              <br />
              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="weather?.cached">
        <mat-icon mat-list-icon>cached</mat-icon>
        <div mat-line>Cached</div>
        <div mat-line>{{ getCacheAge(weather?.timestamp || 0) }}</div>
      </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goBack()">Back</button>
    </mat-card-actions>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> API Result </mat-panel-title>
          <mat-panel-description>
            Data returned from server
          </mat-panel-description>
        </mat-expansion-panel-header>
        <pre>{{ weather | json }}</pre>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
