.mat-button-toggle-group.toggle {
  border-radius: 50%;
  border: 0;
}

.mat-button-toggle-appearance-standard.toggle {
  background: none;
}

.mat-button-toggle-appearance-standard.toggle.day {
  color: white;
}

.mat-button-toggle-appearance-standard.toggle.dark {
  color: black;
}
