<mat-card class="city-list">
  <form class="weather-form" [formGroup]="form" #formDirective="ngForm">
    <div fxLayout="row">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>City Name</mat-label>
        <input
          matInput
          formControlName="city"
          placeholder="Ex. Singapore"
          [matAutocomplete]="auto"
        />
        <button
          matSuffix
          mat-icon-button
          matTooltip="Get My Location"
          aria-label="My Location"
          (click)="populateLocationCities()"
        >
          <mat-icon>my_location</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['city'].hasError('required')"
          >City Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['city'].hasError('minlength')"
          >City Name needs to be at least <strong>3 letters</strong>
        </mat-error>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let city of citySearchResults | async"
            [value]="getCityStrWithGeoCode(city)"
            #searchOption
          >
            <span>{{ city.name }}</span>
            <span> {{ getFlagEmoji(city.country) }}</span>
            <small *ngIf="city?.state"> {{ city.state }} </small>
            <small
              >{{
                "(" + (city.lat | number) + ", " + (city.lon | number) + ")"
              }}
            </small>
            <!-- {{this.searchOption.value}} -->
            <span
              *ngIf="
                weatherCache[this.searchOption.value] | async as searchData
              "
            >
              <span *ngIf="searchData.icon">
                <img
                  class="forecast"
                  [src]="
                    searchData.icon
                      ? 'https://openweathermap.org/img/wn/' +
                        searchData?.icon +
                        '@2x.png'
                      : 'assets/Exclamation_Circle_Red.svg'
                  "
                  [alt]="searchData.description"
                />
                <span class="medium-text">
                  {{ searchData.temperature | number: "1.0-0" }} &#176;C
                </span>
              </span>
            </span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        class="add-button"
        [disabled]="form.invalid"
        (click)="addCity(formDirective)"
      >
        Add
      </button>
    </div>
  </form>
</mat-card>
<mat-card class="city-list">
  <mat-selection-list [multiple]="false">
    <mat-list-option
      *ngFor="let city of cities; let i = index"
      [value]="city"
      [routerLink]="i == 0 ? ['/weatherlocation', ''] : ['/weather', city]"
      (click)="i == 0 ? getLocation() : ''"
    >
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayoutAlign="center center">
          <span> <mat-icon *ngIf="i == 0">my_location</mat-icon> &nbsp; </span>
          <span *ngIf="weatherCache[city] | async as data">
            <div *ngIf="data.icon">
              <div fxLayoutAlign="center center">
                <img
                  class="forecast"
                  [src]="
                    data.icon
                      ? 'https://openweathermap.org/img/wn/' +
                        data?.icon +
                        '@2x.png'
                      : 'assets/Exclamation_Circle_Red.svg'
                  "
                  [alt]="data.description"
                />
                <span class="medium-text">
                  {{ data.temperature | number: "1.0-0" }} &#176;C &nbsp; &nbsp;
                  &nbsp;
                </span>
              </div>
            </div>
          </span>
          <span [innerHtml]="displayCity(city)"></span>
        </div>
        <button
          *ngIf="i != 0"
          mat-icon-button
          color="warn"
          (click)="deleteCity(city)"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </mat-list-option>
  </mat-selection-list>
</mat-card>
