.add-button {
  height: 50px;
}

.mat-form-field.full-width {
  width: 100%;
}

.mat-card.city-list {
  max-width: 800px;
  margin: auto;
}

:host ::ng-deep .mat-list-base .mat-list-option .mat-list-text .flag {
  font-size: 34px;
  vertical-align: middle;
}

:host ::ng-deep .mat-list-base .mat-list-option .mat-list-text .coordinates {
  font-size: 12px;
  vertical-align: middle;
  color: cadetblue;
}

.medium-text {
  font-size: 12px;
}

.forecast {
  border-radius: 50%;
  vertical-align: middle;
  max-width: 48px;
}
